*{
margin: 0; 
padding: 0;
box-sizing: border-box;
}

body {
 background-color: rgb(173, 230, 176);
 font-family: Arial;
 font-size: 20px;
 padding: 50px;
}

h1 {
    font-size: 60px;
    margin-bottom: 25px;
}

.first-paragraph {
 color: blue;
}

.second-paragraph {
 color: green;
}

.third-paragraph {
 color: red;
}

#your-name {
    background-color: rgb(255, 194, 175);
    border: 4px dashed #000;
    color: #000;
}
