body {
 background-color: rgb(173, 230, 176);
 font-family: Arial;
 font-size: 20px;
}

h1 {
    font-size: 60px;
}

.first-paragraph {
 color: blue;
}

.second-paragraph {
 color: green;
}

.third-paragraph {
 color: red;
}

#your-name {
    display: block;
    background-color: rgb(255, 194, 175);
    border: 4px dashed #000;
    color: #000;
    padding: 24px;
    margin: 20px auto;
    max-width: 520px;
    box-sizing: border-box;
}
