*{
margin: 0; 
padding: 0;
box-sizing: border-box;
 /* box-sizing: border-box); */
}

body {
 background-color: rgb(173, 230, 176);
 font-family: Arial;
 font-size: 20px;
 padding: 50px;
}

h1 {
    font-size: 60px;
    margin-bottom: 25px;
}
h2 {
    font-size: 40px;
    margin-bottom: 25px;
    text-align: center;
}

.first-paragraph {
 color: blue;
}

.second-paragraph {
 color: green;
}

.third-paragraph {
 color: red;
}

#your-name {
    background-color: rgb(255, 194, 175);
    border: 4px dashed #000;
    color: #000;
 width: 400px;
 padding: 25px;
 margin-top: 30px;
}

p {
    margin-bottom: 20px;
}

input,button {
    padding: 10px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
}

a {
    background-color: rgb(255, 194, 175);
}
